.hidden {
  display: none !important;
}

.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.row {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 70px;
}

.row-view {
  display: inline-flex;
  flex-direction: row;
  padding-left: 30%;
}

.column-view {
  display: inline-flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}

.black-row {
  height: 20px;
  width: 100%;
}

.white-row {
  height: 50px;
  width: 100%;
}

.pokemon-party {
  margin-top: 15px;
}

.header-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.column-full {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;
}

.topline {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

img {
  width: 50%;
  height: 50%;
  margin: 1%;
}

.submit-pokeball {
  border-radius: 60%;
}

.save-pokeball {
  height: 50px;
  border-radius: 60%;
  width: 100%;
}

.column-fourth,
.column-half {
  width: 100%;
  flex-wrap: wrap;
}

.pokemon1,
.pokemon2,
.pokemon3,
.pokemon4,
.pokemon5,
.pokemon6 {
  height: 300px;
  width: 300px;
}

.pokemon-text-1,
.pokemon-text-2,
.pokemon-text-3,
.pokemon-text-4,
.pokemon-text-5,
.pokemon-text-6 {
  margin-bottom: 50px;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 14%;
}

.show {
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 500px;
  height: 154px;
  margin-top: 67%;
  margin-left: 15%;
}

.noshow {
  display: none;
}

.dark {
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 50vh;
  flex-wrap: wrap;
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 1.5rem;
  }

  .header-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    width: 100%;
  }

  .row1 {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .row2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    margin-top: 25px;
    height: 500px;
  }

  .row-view {
    padding-left: 0%;
  }

  .column-full {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }

  .column-fourth {
    width: 25%;
    padding: 0 0.75rem;
  }

  .column-view {
    flex-direction: row;
  }

  .pokemon-title {
    margin-left: 50px;
  }

  .pokemon2,
  .pokemon4,
  .pokemon6 {
    margin-left: 100px;
  }

  .pokemon-text-1,
  .pokemon-text-3,
  .pokemon-text-5 {
    margin-left: 65px;
  }

  .pokemon-text-2,
  .pokemon-text-4,
  .pokemon-text-6 {
    margin-left: 165px;
  }

  .show {
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 500px;
    height: 154px;
    margin-left: 40%;
    margin-top: 20%;
  }

  .modal-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 14%;
  }

  .noshow {
    display: none;
  }

  .dark {
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 50vh;
    flex-wrap: wrap;
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
  }
}
