.row {
  background-color: red;
}

.pokemon-party {
  color: white;
  font-size: 38px;
}

.black-row {
  background-color: black;
}

.white-row {
  background-color: white;
}

.header-row {
  background-color: red;
}

.add {
  color: white;
  text-decoration: none;
  font-size: 32px;
}

.view {
  color: white;
  text-decoration: none;
  font-size: 32px;
}

.delete {
  color: red;
  text-decoration: none;
  font-size: 24px;
  margin-top: 13px;
}

.party-title {
  font-size: 24px;
}

.party-title,
.pokemon-text-1,
.pokemon-text-2,
.pokemon-text-3,
.pokemon-text-4,
.pokemon-text-5,
.pokemon-text-6,
.submit-pokeball:hover {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

i {
  color: red;
}

.dark {
  background: rgb(0 0 0 / 50%);
}

.show {
  background-color: white;
}

.bg {
  background-color: white;
}

#no-button {
  background-color: green;
  color: black;
  border-style: none;
  height: 50px;
  width: 150px;
  font-size: 2rem;
  margin-right: 10px;
}

#cancel {
  background-color: red;
  color: black;
  border-style: none;
  height: 50px;
  width: 150px;
  font-size: 2rem;
  margin-left: 10px;
}
