.row {
  background-color: red;
}

.pokemon-party {
  color: white;
  font-size: 38px;
}

.black-row {
  background-color: black;
}

.white-row {
  background-color: white;
}

.header-row {
  background-color: red;
}

.add {
  color: white;
  text-decoration: none;
  font-size: 32px;
}

.view {
  color: white;
  text-decoration: none;
  font-size: 32px;
}

.party-title {
  font-size: 24px;
}

.party-title,
.pokemon-text-1,
.pokemon-text-2,
.pokemon-text-3,
.pokemon-text-4,
.pokemon-text-5,
.pokemon-text-6,
.submit-pokeball:hover {
  cursor: pointer;
}

ul {
  list-style-type: none;
}
